caption {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

table {
    margin: 0 auto;
    border-collapse: separate;
}

td {
    --cell-size: 8vmin;
    --min-size: 40px;
    --max-size: 60px;
    width: clamp(var(--min-size), var(--cell-size), var(--max-size));
    height: clamp(var(--min-size), var(--cell-size), var(--max-size));
    border: 3px solid black;
    text-align: center;
}

tr:nth-child(2n+1) td:nth-child(2n),
tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: gray;
}

img {
    vertical-align: middle;
    position: relative;
    animation-fill-mode: backwards;
    width: 90%;
}

p {
    text-align: center;
}

.selected {
    border: 3px solid red;
}

.middlePath {
    border: 3px solid blue;
}

.endPath {
    border: 3px solid orange;
}

select {
    max-width: 11em;
}